{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    {% block css %}
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    {% endblock %}
    <title>Youttify</title>
</head>

<body>
    <!-- Main Section -->
    <main class="settingsPage profile my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <div class="card text-center">
                        <div class="card__body dev">
                            <a class="tag tag--pill tag--main settings__btn" href=""><i class="im im-edit"></i>
                                Edit</a>
                            <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" />
                            <h2 class="dev__name">{{profile.name}}</h2>
                            <p class="dev__title">{{profile.short_into}}</p>
                            <p class="dev__location">Based in {{profile.location}}</p>

                        </div>
                    </div>
                </div>
                <div class="column column--2of3">
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about">{{profile.bio}}</p>
                    </div>

                </div>
            </div>
        </div>
    </main>


</body>