{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    {% block css %}
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    {% endblock %}
    <title>Youttify</title>
</head>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="signup_header">
        <a href="" target="_blank"></a>
    </div>

    <div class="signup_body">
        <form class="login_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="password" class="label">
                New Password
            </label>
            <input type="password" class="form_input" name="pass1" placeholder="New Password" required>

            <label for="confirm_password" class="label">
                Confirm Password
            </label>
            <input type="password" class="form_input" name="pass2" placeholder="Confirm Password" required>

            <button class="btn btn_log_in" type="submit">Change Password</button>
        </form>
    </div>

</body>

</html>