{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Youttify</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password1 != password2.value) {
            password2.setCustomValidity("Password did not match");
        } else {
            password2.setCustomValidity("");
        }
    }
</script>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if form.errors %}
    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="signup_header">
        <a href="" target="_blank">
        </a>
    </div>

    <div class="signup_body">
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <span class='label signup-title center-align'>Sign up for free to start listening.</span>
            <label for="sign-up-username" class="label">
                What's your name?{% if username %}
                <span style="color:#f79862;">Username already exists</span>
                {% endif %}
            </label>

            <input type="text" class="form_input" name="username" pattern="[A-Za-z]+" placeholder="Enter your name."
                required>


            <label for="sign-up-email" class="label">
                What's your email?{% if email %}
                <span style="color:#f79862;">Email already exists</span>
                {% endif %}
            </label>

            <input type="email" class="form_input" name="email" placeholder="Enter your email." required>


            <label for="sign-up-pwd" class="label">
                Create a password
            </label>
            <input type="password" class="form_input" id="pwd" name="password1" placeholder="Create a password."
                required>

            <label for="sign-up-cpwd" class="label">
                Confirm your password
            </label>
            <input type="password" class="form_input" id="cpwd" name="password2" oninput="checkPassword(this)"
                placeholder="Re-type your password" required>

            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
        </form>
    </div>

</body>

</html>